@font-face {
    font-family: 'Bodoni Moda';
    src: url('../fonts/BodoniModa-VariableFont_opsz,wght.ttf');
}

* {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

h1 {
    font-size: 45px;
    text-align: center;
}

a,
.photo-credit-text {
    font-size: 12.5px;
}

a:link {
    color: black;
}

.nav-bar {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0 25px;
    padding: 15px;
}

.nav-bar-button {
    cursor: pointer;
    list-style-type: none;
    margin: 0 50px;
}

img {
    margin: 50px;
    width: 400px;
}

.menu {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15%;
}

.menu-info-row {
    display: grid;
    grid-template-columns: 125px 1fr;
}

.menu-info-row > p {
    text-align: left;
}

.menu-info-row > P:nth-child(2n+1),
.contact-info-row > p:nth-child(2n+1) {
    font-weight: 900;
}

.contact-info-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 15%;
    margin-top: 50px;
}