.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar-button {
    list-style-type: none;
}

.homepage-image {
    height: 200px;
    width: 200px;
}

.homepage-image img {
    height: 100%;
    width: 100%;
}

.doughnut-info-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}